// ANIMATIONS

@keyframes zoomIn {
  from {
    transform: scale(0);
    filter: opacity(0);
  }
  to {
    transform: scale(1);
    filter: opacity(1);
  }
}

@keyframes fadeInLogo {
  0% {
    filter: opacity(0);
  }
  50% {
    filter: opacity(0);
  }
  100% {
    filter: opacity(1);
  }
}

@keyframes slideUp {
  0% {
    transform: translate(0%, 0%);
  }
  100% {
    transform: translate(0%, 100%);
  }
}

@keyframes scaleUp {
  0% {
    transform: scale(0%);
  }
  100% {
    transform: scale(100%);
  }
}

@keyframes scaleUpInfinite2 {
  0% {
    transform: scale(0%);
  }
  10% {
    transform: scale(100%);
  }
  65% {
    transform: scale(100%);
  }
  100% {
    transform: scale(0%);
  }
}

@keyframes scaleUpInfinite3 {
  0% {
    transform: scale(0%);
  }
  20% {
    transform: scale(100%);
  }
  70% {
    transform: scale(100%);
  }
  100% {
    transform: scale(0%);
  }
}

@keyframes scaleUpInfinite4 {
  0% {
    transform: scale(0%);
  }
  30% {
    transform: scale(100%);
  }
  75% {
    transform: scale(100%);
  }
  100% {
    transform: scale(0%);
  }
}

@keyframes scaleUpInfinite5 {
  0% {
    transform: scale(0%);
  }
  40% {
    transform: scale(100%);
  }
  80% {
    transform: scale(100%);
  }
  100% {
    transform: scale(0%);
  }
}
