@font-face {
  font-family: CrimsonText;
  src: url(../fonts/Crimson_Text/CrimsonText-Regular.ttf);
}
@-webkit-keyframes zoomIn {
  from {
    transform: scale(0);
    filter: opacity(0);
  }
  to {
    transform: scale(1);
    filter: opacity(1);
  }
}
@keyframes zoomIn {
  from {
    transform: scale(0);
    filter: opacity(0);
  }
  to {
    transform: scale(1);
    filter: opacity(1);
  }
}
@-webkit-keyframes fadeInLogo {
  0% {
    filter: opacity(0);
  }
  50% {
    filter: opacity(0);
  }
  100% {
    filter: opacity(1);
  }
}
@keyframes fadeInLogo {
  0% {
    filter: opacity(0);
  }
  50% {
    filter: opacity(0);
  }
  100% {
    filter: opacity(1);
  }
}
@-webkit-keyframes slideUp {
  0% {
    transform: translate(0%, 0%);
  }
  100% {
    transform: translate(0%, 100%);
  }
}
@keyframes slideUp {
  0% {
    transform: translate(0%, 0%);
  }
  100% {
    transform: translate(0%, 100%);
  }
}
@-webkit-keyframes scaleUp {
  0% {
    transform: scale(0%);
  }
  100% {
    transform: scale(100%);
  }
}
@keyframes scaleUp {
  0% {
    transform: scale(0%);
  }
  100% {
    transform: scale(100%);
  }
}
@-webkit-keyframes scaleUpInfinite2 {
  0% {
    transform: scale(0%);
  }
  10% {
    transform: scale(100%);
  }
  65% {
    transform: scale(100%);
  }
  100% {
    transform: scale(0%);
  }
}
@keyframes scaleUpInfinite2 {
  0% {
    transform: scale(0%);
  }
  10% {
    transform: scale(100%);
  }
  65% {
    transform: scale(100%);
  }
  100% {
    transform: scale(0%);
  }
}
@-webkit-keyframes scaleUpInfinite3 {
  0% {
    transform: scale(0%);
  }
  20% {
    transform: scale(100%);
  }
  70% {
    transform: scale(100%);
  }
  100% {
    transform: scale(0%);
  }
}
@keyframes scaleUpInfinite3 {
  0% {
    transform: scale(0%);
  }
  20% {
    transform: scale(100%);
  }
  70% {
    transform: scale(100%);
  }
  100% {
    transform: scale(0%);
  }
}
@-webkit-keyframes scaleUpInfinite4 {
  0% {
    transform: scale(0%);
  }
  30% {
    transform: scale(100%);
  }
  75% {
    transform: scale(100%);
  }
  100% {
    transform: scale(0%);
  }
}
@keyframes scaleUpInfinite4 {
  0% {
    transform: scale(0%);
  }
  30% {
    transform: scale(100%);
  }
  75% {
    transform: scale(100%);
  }
  100% {
    transform: scale(0%);
  }
}
@-webkit-keyframes scaleUpInfinite5 {
  0% {
    transform: scale(0%);
  }
  40% {
    transform: scale(100%);
  }
  80% {
    transform: scale(100%);
  }
  100% {
    transform: scale(0%);
  }
}
@keyframes scaleUpInfinite5 {
  0% {
    transform: scale(0%);
  }
  40% {
    transform: scale(100%);
  }
  80% {
    transform: scale(100%);
  }
  100% {
    transform: scale(0%);
  }
}
.backToInstructions {
  position: absolute;
  top: 20px;
  padding: 12px 6px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 100px;
  background: rgba(0, 0, 0, 0.1);
  color: rgb(255, 255, 255);
  text-align: center;
  opacity: 0.5;
  outline: none;
  z-index: 10001;
  cursor: pointer;
  left: calc(50% - 25px);
  width: 50px;
}/*# sourceMappingURL=backToInstructions.css.map */