@font-face {
  font-family: CrimsonText;
  src: url(../fonts/Crimson_Text/CrimsonText-Regular.ttf);
}
@-webkit-keyframes zoomIn {
  from {
    transform: scale(0);
    filter: opacity(0);
  }
  to {
    transform: scale(1);
    filter: opacity(1);
  }
}
@keyframes zoomIn {
  from {
    transform: scale(0);
    filter: opacity(0);
  }
  to {
    transform: scale(1);
    filter: opacity(1);
  }
}
@-webkit-keyframes fadeInLogo {
  0% {
    filter: opacity(0);
  }
  50% {
    filter: opacity(0);
  }
  100% {
    filter: opacity(1);
  }
}
@keyframes fadeInLogo {
  0% {
    filter: opacity(0);
  }
  50% {
    filter: opacity(0);
  }
  100% {
    filter: opacity(1);
  }
}
@-webkit-keyframes slideUp {
  0% {
    transform: translate(0%, 0%);
  }
  100% {
    transform: translate(0%, 100%);
  }
}
@keyframes slideUp {
  0% {
    transform: translate(0%, 0%);
  }
  100% {
    transform: translate(0%, 100%);
  }
}
@-webkit-keyframes scaleUp {
  0% {
    transform: scale(0%);
  }
  100% {
    transform: scale(100%);
  }
}
@keyframes scaleUp {
  0% {
    transform: scale(0%);
  }
  100% {
    transform: scale(100%);
  }
}
@-webkit-keyframes scaleUpInfinite2 {
  0% {
    transform: scale(0%);
  }
  10% {
    transform: scale(100%);
  }
  65% {
    transform: scale(100%);
  }
  100% {
    transform: scale(0%);
  }
}
@keyframes scaleUpInfinite2 {
  0% {
    transform: scale(0%);
  }
  10% {
    transform: scale(100%);
  }
  65% {
    transform: scale(100%);
  }
  100% {
    transform: scale(0%);
  }
}
@-webkit-keyframes scaleUpInfinite3 {
  0% {
    transform: scale(0%);
  }
  20% {
    transform: scale(100%);
  }
  70% {
    transform: scale(100%);
  }
  100% {
    transform: scale(0%);
  }
}
@keyframes scaleUpInfinite3 {
  0% {
    transform: scale(0%);
  }
  20% {
    transform: scale(100%);
  }
  70% {
    transform: scale(100%);
  }
  100% {
    transform: scale(0%);
  }
}
@-webkit-keyframes scaleUpInfinite4 {
  0% {
    transform: scale(0%);
  }
  30% {
    transform: scale(100%);
  }
  75% {
    transform: scale(100%);
  }
  100% {
    transform: scale(0%);
  }
}
@keyframes scaleUpInfinite4 {
  0% {
    transform: scale(0%);
  }
  30% {
    transform: scale(100%);
  }
  75% {
    transform: scale(100%);
  }
  100% {
    transform: scale(0%);
  }
}
@-webkit-keyframes scaleUpInfinite5 {
  0% {
    transform: scale(0%);
  }
  40% {
    transform: scale(100%);
  }
  80% {
    transform: scale(100%);
  }
  100% {
    transform: scale(0%);
  }
}
@keyframes scaleUpInfinite5 {
  0% {
    transform: scale(0%);
  }
  40% {
    transform: scale(100%);
  }
  80% {
    transform: scale(100%);
  }
  100% {
    transform: scale(0%);
  }
}
.splashScreen {
  transition: 1s ease;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  z-index: 10010;
  width: 100%;
  height: 100%;
  background-color: #dcddd8;
  bottom: 0%;
}
.splashScreen__logo {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  width: 30%;
  height: 30%;
  z-index: 10011;
}
@media screen and (orientation: landscape) {
  .splashScreen__logo {
    width: 15%;
    height: 15%;
  }
}
.splashScreen__logo__graph {
  -webkit-animation-name: zoomIn;
          animation-name: zoomIn;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}
.splashScreen__logo__text {
  -webkit-animation-name: fadeInLogo;
          animation-name: fadeInLogo;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
}
.splashScreen__logo > img {
  display: flex;
  position: absolute;
}/*# sourceMappingURL=splash.css.map */