//FONT DEFINITIONS
@font-face {
  font-family: CrimsonText;
  src: url(../fonts/Crimson_Text/CrimsonText-Regular.ttf);
}

// COLORS
$white: white;
$lightGray: #dcddd8;
$mediumGray: #76716a;
$darkGray: #121718;
$unsaturatedBlue: #578980;
$reddishGray: #64988b;
$brown: #3c2018;
$black: #000000;

// VARIABLES
$font: CrimsonText;
